rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /attendance/{docId} {
      allow create: if request.resource.data.date == 
        string(request.time.year()) + "-" + 
        (request.time.month() < 10 ? "0" + string(request.time.month()) : string(request.time.month())) + "-" + 
        (request.time.day() < 10 ? "0" + string(request.time.day()) : string(request.time.day()));
    }
  }
}
